head {

}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.myname {

}

.mainheader {
    background-color: #ffffff;
    border-bottom: #cccccc 8px solid;
}

.content {
    flex: 1 0 auto
}
.maintext {
    color: #777777;
    border: #dddddd 2px solid;
    float: left;
    margin: 50px;
}

#profilepic {
    height: 260px;
    width: 200px;
    float: left;
}

footer {
    width:100%;
    flex-shrink: 0;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 30px;
    color: #777777;
    background: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}