body {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#myname {
    background-color:  #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left; 
    width: 20%;
    height: 50px;
    text-align: center;
    margin: 0px 0px 0px 450px;
    padding-top: 20px;
    padding-bottom: 15px;
}

#sectionname{
    color:  #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid 5px #dddddd;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#topmenu {
    background-color: #ffffff;
    border-bottom: #cccccc 2px solid;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #777777;
  }
  
  a:visited {
    text-decoration: none;
    color: #777777;
  }
  
  a:hover {
    text-decoration: underline;
    color: #777777;
  }
  
  a:active {
    text-decoration: underline;
    color: #777777;
  }


.content {
    flex: 1 0 auto;
    background-image: url("../images/white-waves.png");
}

.pages {
    float: right;
    width: 33.33%;
    margin: 33px 0px 0px 0px;
}


#profilepic {
    height: 260px;
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.list {
    margin-left: 25%;
}

.maintext {
    color: #777777;
    border: #dddddd 1px solid;
    float: left;
    text-align: left;
    width: 960px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 300px 200px 450px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    width:100%;
    flex-shrink: 0;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 30px;
    color: white;
    background: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}