head {

}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.myname {

}

.content {
    flex: 1 0 auto
}
.abouttext {
    color: #777777;
    float: left;
}

#profilepic {
    height: 260px;
    width: 200px;
    float: left;
}

footer {
    width:100%;
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 30px;
    color: #777777;
    background: #666666;
    text-align: center;
    border-top: 8px #4aaaa5;
}